<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297011320297-hd08p9pevb5i523k12evnd0mg9lidsmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297011320297-hd08p9pevb5i523k12evnd0mg9lidsmi</string>
	<key>API_KEY</key>
	<string>AIzaSyBs9kGCYtArhnP0wSHu7Kk3p7KMpayQ3us</string>
	<key>GCM_SENDER_ID</key>
	<string>297011320297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upnextgroup.cookingpapa</string>
	<key>PROJECT_ID</key>
	<string>cooking-papa-342818</string>
	<key>STORAGE_BUCKET</key>
	<string>cooking-papa-342818.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297011320297:ios:32481701f624cf7087a778</string>
</dict>
</plist>